.card{
    display: flex;
    border: 2px solid black;
    margin: 2px;
    width: 900px;
    justify-content: center;
    align-items: center;
}

img{
    width: 200px;
}

h1{
    padding: 1px 0;
}

.image {
    position: relative;
}

.image .capsule {
    position: absolute;
    bottom: 4px;
    z-index: 10;
    right: 5px;
    background: #242020;
    opacity: 0.9;
    color: white;
    padding: 3px;
    border-radius: 3px;
    font-size: 14px;
}